@import "tailwindcss";

/* Google Font */

body{
  font-family: 'sans-serif';
}

html, body {
  overflow-x: hidden;
}

.animated-border{
  position: relative;
  border-radius: 24px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.animated-border::before{
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 24px;
  padding: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    #10b981,
    #34d399,
    #10b981,
    transparent
  );

  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;   /* ⭐ hover fix */
}

@keyframes borderMove{
  0%{
    background-position: 0% 50%;
  }
  100%{
    background-position: 200% 50%;
  }
}